@if (event) {
<a routerLink="/event-details/{{event.identifiant}}">
  <main class="home-activityCard">
    <div class="home-activityCard-img">
      <section class="tags">
        @for(eachCategory of event.categorie_de_la_manifestation.split(','); track eachCategory){
            <span class="tag">
            {{eachCategory}}
            </span>
          }
      </section>
      <img alt="" src="https://tinyurl.com/389733yc" />
    </div>
    <div class="home-activityCard-allDetails">
      <h2>{{event.nom_de_la_manifestation}}</h2>
      <p>{{event.descriptif_court}}</p>
      <section class="home-activityCard-details">
        <span class="detail1">{{event.date_debut}}</span>
        <span class="detail2"> 
          @if(event.tarif_normal && event.tarif_normal.length > 20){
            {{event.tarif_normal.slice(0,20)}}
          } @else {
            {{event.tarif_normal}}
          }
        </span>
      </section>
      <section class="detail-btn">
        <i class="bx bxs-show" style="color: var(--main-red)"></i>
        <app-button
          buttonText="Voir les détails"
          buttonStyle="text-red"
          buttonUrl="/event-details/{{event.identifiant}}">
        </app-button>
      </section>
    </div>
  </main>
</a>
}
