<header>
  <a routerLink="/"
    ><img src="assets/Logo.png" alt="Logo de la région de l'Occitanie"
  /></a>
  <nav>
    <ul>
      <li>
        <a routerLink="/">
          <i class="bx bxs-home-heart bs-sm"></i>
          Accueil
        </a>
      </li>
      <li>
        <a routerLink="/events">
          <i class='bx bxs-discount'></i>
          Événements</a>
        </li>
    </ul>
  </nav>
</header>
