
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 20px;
  background-color: var(--main-red);
  color: white;
}

header img {
  width: 6em;
  height: auto;
  padding-left: 50px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
  padding: 0 5em;
}

nav ul li a {
  text-decoration: none;
  font-family: var(--font);
  color: var(--white);
}

nav ul li a:hover {
  color: var(--color); 
}