button{
    cursor: pointer;
}

.text-red { 
    color: var(--main-red);
    font-size: 17px;
    border: none;
    background-color: transparent;
}

.red, .white{
    width: fit-content;
    padding: 0.6em 1em;
    font-size: 1em;
}

.red { 
    border: var(--border-radius);
    border-radius: var(--border-radius);
    background-color: var(--grey);
    color: var(--white);
}

.white { 
    background-color: white;
    color: var(--main-red);
    background-color: var(--white);
    border-radius: 10px;
    border: 1.5px solid var(--main-red);
}
