<main class="banner" [style.background-image]="'url(' + bannerImg + ')'">
  <section class="banner-details">
    <h1>{{title}}</h1>
    <p>{{description}}</p>
    <div class="banner-detailsItem">
      <span class="banner-date">{{date}}</span>
      <span>
        <button>En savoir +</button>
      </span>
    </div>
  </section>
</main>
