main {
    display: flex;
}

section#event-list {

    width: 55%;
    padding-left: 4rem;
    padding-right: 1rem;
}

/* Search bar */
.search {
    border: 1px solid var(--border-grey);
    border-radius: 50px;
    height: 20px;
    width: 100%;
    padding: 15px 20px;
    outline: 0;
    background-color: #f5f5f5;
}

.search::placeholder {
    color: lightgray;
    font-size: 18px;
    ;
}

/* Liste */
::-webkit-scrollbar {
    display: none;
}

.cards-container {
    max-height: 90vh;
    overflow-y: auto;
}

.filter-container {
    background-color: #F8F7F7;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    margin-bottom: 3em;
    border-radius: var(--border-radius);
}

.city-container,
.date-container {
    min-width: 20%;
    flex: 1;
    display: flex;
    justify-content: center;
    margin-right: 15px;
}

#city-select,
#date {
    width: 100%;
    padding: .5em .3em;
    border-radius: var(--border-radius);
    border: none;
    font-size: 17px;
}

.city-container {
    border-radius: var(--border-radius);
    background-color: #fff;
    position: relative;
}

.city-container select {
    color: var(--grey);
    margin: .1em .2em;
    border: none;
    box-shadow: none;
    background-color: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.city-container select:after {
    top: 50%;
    left: 85%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(0, 0, 0, 0);
    border-top-color: #000000;
    border-width: 5px;
    margin-top: -2px;
    z-index: 100;
}

.city-container select:focus {
    outline: none;
}

.category-container {
    flex-grow: 2;
    /* Donne une priorité plus élevée à l'expansion de ce conteneur */
    display: flex;
    gap: .2em;
    flex-wrap: wrap;
}

.category-container button {
    background-color: transparent;
    border: none;
}

/* Map */

#event-map {
    width: 45%;
    overflow: hidden;
    position: sticky;
    top: 0;
    height: 100vh;
}