<main class="list-activities">
  <h1>
    Activités
    @if(keyOfDate?.startsWith('A') || keyOfDate?.startsWith('O')){
      d'{{keyOfDate}}
    } @else {
      de {{keyOfDate}}
    }
  </h1>
  <ul>
    @for (eachEvent of (filteredEventList | searchBar: searchTerms); track eachEvent.identifiant){
    <li>
      <app-event-card [event]="eachEvent"></app-event-card>
    </li>
    }
  </ul>
</main>
