<main>
  @if(event){
  <section class="detail-event-box content-with-margin">
    <a (click)="back()" class="button-back" >
      <img src="../../assets/chevron-left.png" /> Détails de l'activité
    </a>

    <div class="details-event">
      <div class="detail-event-title-tag">
        <div class="detail-event-boxTitle">
          <h1>{{event.nom_de_la_manifestation}}</h1>
          <div class="detail-day-hours">
            <span>{{event.dates_affichage_horaires}}</span>
          </div>
        </div>
        <span class="tag">
          @if(event.tarif_normal){ {{event.tarif_normal}} } @else { Gratuit }
        </span>
      </div>

      <article class="details">
        <p [innerHTML]="formattedSentence">{{event.descriptif_long}}</p></article>

      <div class="categories">
        <h3>Catégories</h3>
        <div class="categories-box">
          @for(eachCategory of event.categorie_de_la_manifestation.split(',');
          track event){
          <span class="tag">{{eachCategory}}</span>
          }
        </div>
      </div>

      <div class="reservation">
        <img class="heart-img" src="../../assets/heart-fill.png" />
        <app-button buttonText="Réserver maintenant" buttonStyle="white">
        </app-button>
      </div>
    </div>
  </section>
  <img class="detail-event-mainImg" src="https://tinyurl.com/389733yc" />
  }
</main>
