/* You can add global styles to this file, and also import other style files */
html, body{
    margin: 0;
    height: 100%;
    font-family: var(--font);
}

h1 {
    font-size: 32px;
    margin: 0;
}

:root{
    --white: #fff;
    --main-red : #CC383A;
    --grey: #C6C6C6;
    --border-radius: 10px;
    --font: Inter;
    --color: #2D2D2D;
}

section.content-with-margin{
    margin: 5em 10em;
}

.button-back {
    display: flex;
    text-decoration: none;
    color : var(--main-red);
    font-weight: bold;
    gap: 3em;  
}

.tag {
    background-color: var(--color);
    color: var(--white);
    padding : 0.5em 1em;
    border-radius: var(--border-radius);
    font-weight: bold;
    width: fit-content;
}

a.text-red { 
    color: var(--main-red);
    font-size: 17px;
    border: none;
    background-color: transparent;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: .3em;
}

.pop-home-activityCard-details{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1em 0;
    font-size: 17px;
}

.pop-home-activityCard-details span.detail1{
    font-weight: bold;
}

.mdc-text-field--outlined {
    --mdc-outlined-text-field-container-shape: 28px;
}